<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="d-flex col-md-3 justify-content-center aling-items-center">
                <a href="/" class="navbar-brand mb-0 h1">Ledger</a>
            </div>
            <ul class="navbar-nav mr-auto float-right">
                <li class="nav-item active">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>
        </nav>
    